<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
		<title>Burgers!</title>
		<script src="https://code.jquery.com/jquery.js"></script>
	</head>
	<body>
		{{{ body }}}
		<script>
			$(".create-form").on("submit", function(event) {
    			event.preventDefault()
    			var newBurger = {
        			name: $("#order").val().trim()
   			 	}
    			$.ajax("/api/burger", {
        			type: "POST",
        			data: newBurger
    			}).then(function(){
        			location.reload()
    			})
			})

			$(".devour").on("click", function(event) {
    			event.preventDefault()
    			$.ajax({
        			url: "/api/burger/" + $(this).data("id"),
        			method: "PUT"
    			}).then(function(){
        			location.reload()
    			})
			})
		</script>
	</body>
</html>
